In [1]:
import pandas as pd
import re
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from keras.models import Sequential,load_model
from keras.layers import Dense,LSTM,Embedding,Dropout
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

import nltk
import string
import re
from nltk.corpus import stopwords
stop = stopwords.words('english')
ps = nltk.PorterStemmer()
lm = nltk.WordNetLemmatizer()
from keras.models import load_model
import pickle

ModuleNotFoundError: No module named 'matplotlib'

In [419]:
data1=pd.read_csv("SIH2020_Dataset.csv",encoding= 'unicode_escape')
data1=data1.sample(frac=1).reset_index(drop=True)
print(data1.shape)
data1.head()

(4015, 7)

,module output,emotion,label,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,I would definitely recommend the wings as well...,Neutral,Positive,NaN,NaN,NaN,NaN
1,Our brother is crazy,Anger,Negative,NaN,NaN,NaN,NaN
2,I dont think I will be back for a very long time,sadness,Negative,NaN,NaN,NaN,NaN
3,My sister is very mad we fight a lot,Anger,Negative,NaN,NaN,NaN,NaN
4,"Also, the fries are without a doubt the worst ...",Hate,Negative,NaN,NaN,NaN,NaN

In [420]:
data1.shape

(4015, 7)

In [421]:
data1=data1[['module output','label']]
data1.head()

                                       module output     label
0  I would definitely recommend the wings as well...  Positive
1                               Our brother is crazy  Negative
2   I dont think I will be back for a very long time  Negative
3               My sister is very mad we fight a lot  Negative
4  Also, the fries are without a doubt the worst ...  Negative

In [422]:
data2 = pd.read_csv('Tweets.csv')
data2 = data2.sample(frac=1).reset_index(drop=True)
print(data2.shape)
data2.head()

(14640, 15)

,tweet_id,label,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,module output,tweet_coord,tweet_created,tweet_location,user_timezone
0,5.700050e+17,neutral,1.0000,NaN,NaN,US Airways,NaN,flyidca,NaN,0,@usairways &amp; @AmericanAir planes in #grand...,NaN,2015-02-23 15:39:17 -0800,"Washington, DC",Eastern Time (US & Canada)
1,5.699920e+17,positive,1.0000,NaN,NaN,US Airways,NaN,GEInteriors,NaN,0,Great management of @USAirways twitter account...,NaN,2015-02-23 14:49:03 -0800,"Philadelphia, PA USA",Central Time (US & Canada)
2,5.696660e+17,negative,1.0000,Can't Tell,0.6792,American,NaN,vickie_frisbie,NaN,0,@AmericanAir then taxi across dfw airport for ...,NaN,2015-02-22 17:12:08 -0800,"Dallas, Texas",Mountain Time (US & Canada)
3,5.683740e+17,neutral,0.6667,NaN,0.0000,US Airways,NaN,TomFutureforall,NaN,0,@USAirways can they change to correct last nam...,NaN,2015-02-19 03:36:46 -0800,NaN,NaN
4,5.679080e+17,neutral,0.6831,NaN,0.0000,Southwest,NaN,musgrel,NaN,0,@SouthwestAir I'm trying to get home to Nashvi...,NaN,2015-02-17 20:45:48 -0800,NaN,Central Time (US & Canada)

In [423]:
data2 = data2[['module output', 'label']]
data2.head()

                                       module output     label
0  @usairways &amp; @AmericanAir planes in #grand...   neutral
1  Great management of @USAirways twitter account...  positive
2  @AmericanAir then taxi across dfw airport for ...  negative
3  @USAirways can they change to correct last nam...   neutral
4  @SouthwestAir I'm trying to get home to Nashvi...   neutral

In [424]:
data2['module output'] = data2['module output'].str.replace('@VirginAmerica', '')
data2.head()

                                       module output     label
0  @usairways &amp; @AmericanAir planes in #grand...   neutral
1  Great management of @USAirways twitter account...  positive
2  @AmericanAir then taxi across dfw airport for ...  negative
3  @USAirways can they change to correct last nam...   neutral
4  @SouthwestAir I'm trying to get home to Nashvi...   neutral

In [425]:
data2['module output'].apply(lambda x: x.lower()) #transform text to lowercase
data2['module output'] = data2['module output'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))
data2['module output'].head()

0    usairways amp AmericanAir planes in grandcayma...
1    Great management of USAirways twitter account ...
2    AmericanAir then taxi across dfw airport for 2...
3    USAirways can they change to correct last name...
4    SouthwestAir Im trying to get home to Nashvill...
Name: module output, dtype: object

In [426]:
data3=pd.read_csv("refined_lenghty_dataset.csv",encoding= 'unicode_escape')
data3=data3.sample(frac=1).reset_index(drop=True)
print(data3.shape)
data3.head()

(499, 3)

                                       module output   Emotion     label
0  2bad experiences in 1 week . First ride cab wa...     Anger  Negative
1  History consists for the most part of a comple...     Empty   Neutral
2  Cotton candy was invented by a dentist. Dentis...   Neutral   Neutral
3  What a waste of money. The phone don't even de...      Hate  Negative
4  Loved these. 1. Very easy to use. 2. Good qual...  Surprise  Positive

In [427]:
data3=data3[['module output','label']]
data3.head()

                                       module output     label
0  2bad experiences in 1 week . First ride cab wa...  Negative
1  History consists for the most part of a comple...   Neutral
2  Cotton candy was invented by a dentist. Dentis...   Neutral
3  What a waste of money. The phone don't even de...  Negative
4  Loved these. 1. Very easy to use. 2. Good qual...  Positive

In [428]:
ar_x = pd.DataFrame(data1['module output'])
print(ar_x)
ar_y = pd.DataFrame(data1['label'])
print(ar_y)

                                          module output
0     I would definitely recommend the wings as well...
1                                  Our brother is crazy
2      I dont think I will be back for a very long time
3                  My sister is very mad we fight a lot
4     Also, the fries are without a doubt the worst ...
5     This little device has transformed my organiza...
6                             EXCELLENT SERVICE!!!!!!!!
7                        Today is going quite well plan
8                                     Poor Construction
9     Integrated seamlessly with the Motorola RAZR p...
10                               it is very kind of you
11              Our teacher taught this topic very well
12                                            How long?
13                        Who are you going to do there
14    I did not bother contacting the company for fe...
15                  Abe book a brother for two brothers
16                     Excellent wallet type phone case
17    Also, I feel like the chips are bought, not ma...
18                   Basically the service was very bad
19       By far the BEST cheese curds we have ever had!
20                                   Soggy and not good
21      Criminals consider truth to be harsh, it hur...
22                              Pretty cool I would say
23                                   I want to fall too
24             Always show your chest in front of girls
25        It's a great place and I highly recommend it.
26    An avid Falconeer from the old days knows that...
27    It makes very strange ticking noises before it...
28    It works fine on my Motorola 325 cellphone, an...
29     A mistake in the right that feels right like ...
...                                                 ...
3985  Our server was super nice and checked on us ma...
3986                   New Battery works great in phone
3987  Tonight I had the Elk Filet special...and it s...
3988                                         I am happy
3989  These products cover up the important light se...
3990   Liberate and thank them for their great servi...
3991                      Can you tell me the last date
3992  I bought this phone as a replacement for my St...
3993       What about the gig which Rank was taken from
3994                         The first half of the book
3995                                     What sucks App
3996  I know this is not like the other restaurants ...
3997  You'd then battle "ancient evils" in the name ...
3998  Although their later albums did not match that...
3999  A lot of times you're going to say the same thing
4000            Share at least english songs in the day
4001  If you like a loud buzzing to override all you...
4002  It was attached to a gas station, and that is ...
4003                       You Keep Your Service to you
4004  To summarize... the food was incredible, nay, ...
4005  I ordered this for sony Ericsson W810i but I t...
4006  its a little geeky but i think thats its sex o...
4007  We started with the tuna sashimi which was bro...
4008  My wife got it for me account of the wireless ...
4009                                  My God is Krishna
4010  Essentially you can forget Microsoft's tech su...
4011   In Isaiah the Lord has given us warnings that...
4012  however, my girl was complain that some time t...
4013                  You can't beat the price on these
4014                                 $50 Down the drain

[4015 rows x 1 columns]
         label
0     Positive
1     Negative
2     Negative
3     Negative
4     Negative
5     Positive
6     Positive
7     Positive
8     Negative
9     Positive
10    Positive
11    Positive
12     Neutral
13    Negative
14    Negative
15     Neutral
16    Positive
17     Neutral
18    Negative
19    Positive
20    Negative
21    negative
22    Positive
23    Positive
24     neutral
25    Positive
26     Neutral
27    Negative
28    Positive
29    negative
...        ...
3985  Positive
3986  Positive
3987  Negative
3988  Positive
3989  Negative
3990  positive
3991   Neutral
3992  Negative
3993   Neutral
3994   Neutral
3995  Negative
3996  Negative
3997   Neutral
3998   Neutral
3999  Negative
4000   neutral
4001  Negative
4002  Negative
4003  Negative
4004  Positive
4005  Negative
4006  Positive
4007  Negative
4008   Neutral
4009   Neutral
4010   Neutral
4011  negative
4012  Negative
4013  Positive
4014  Negative

[4015 rows x 1 columns]

In [429]:
br_x = pd.DataFrame(data2['module output'])
print(br_x)
br_y = pd.DataFrame(data2['label'])
print(br_y)

                                           module output
0      usairways amp AmericanAir planes in grandcayma...
1      Great management of USAirways twitter account ...
2      AmericanAir then taxi across dfw airport for 2...
3      USAirways can they change to correct last name...
4      SouthwestAir Im trying to get home to Nashvill...
5      SouthwestAir where is the great customer servi...
6                                            united done
7      Cmon this is worse than JetBae RT JetBlue Our ...
8      United and here i thought American was bad Hor...
9      USAirways AmericanAir working for me Tight cx ...
10     USAirways have you heard about the debacle at ...
11     SouthwestAir 2 wounded vets stuck Hv trouble w...
12         USAirways you can send my luggage to my house
13     AmericanAir I know you are getting pummeled to...
14     united After speaking to a United customer ser...
15     USAirways And really its a middle initial vers...
16     AmericanAir so if your genuine give me your op...
17     USAirways yeah I know that but that doesnt get...
18     united rushed through the 6 degree weather to ...
19     united 22 Instead had to wait on plane from Ot...
20     AmericanAir gerri_elliott You will Every chanc...
21     USAirways On hold for gt70 mins on my 3rd atte...
22     AmericanAir When will the old 777200 fly ORDPV...
23     USAirways thank you for refunding me on my bag...
24     JetBlue Awww manbut I need to buy this ticket ...
25     AmericanAir check on what Our broken tablet Se...
26     united flight arrives 30 minutes early but the...
27     united cant believe United cant find someone t...
28     SouthwestAir thanks for your attention Ive bee...
29     AmericanAir I fly weekly with you and havent s...
...                                                  ...
14610  AmericanAir Thank you Its much appreciated We ...
14611  JetBlue No not yet I will notify them Im new a...
14612  united terminal at MIA should have food open b...
14613  SouthwestAir Dont apologize Do something about...
14614             Thank you AmericanAir Much appreciated
14615      JetBlue can you share where it is coming from
14616  USAirways AmericanAir how do I get thru on hol...
14617  united our flight attendant superben was super...
14618  AmericanAir On hold since 5am When no one can ...
14619                              united annricord both
14620            SouthwestAir Please update your website
14621  USAirways this is got to be the worst service ...
14622  USAirways the plane is moving and its no ice W...
14623                            SouthwestAir I want one
14624  USAirways been on hold for 45 minutes Is there...
14625  AmericanAir trying to book a flight on hold ca...
14626  SouthwestAir sadly didnt get much help  As a t...
14627  USAirways you run a piece of shit airline  Tha...
14628  united it is too Late Flight for reFlight Book...
14629            united I sent in my feedback  Thank you
14630  USAirways I realize the weather but day after ...
14631  united do you teach your gate agents 2 lie Or ...
14632  SouthwestAir Great trip on 2672 yesterday  out...
14633                                USAirways thank you
14634  united its messed up to refuse to wait 10 min ...
14635  AmericanAir flight293 was supposed to depart a...
14636  JetBlue Amagrino will you cover the cost of my...
14637  United should find a way to distinguish boardi...
14638  SouthwestAir I fly SWA a lot  ALWAYS purchase ...
14639  united playing hide and seek with the gate We ...

[14640 rows x 1 columns]
          label
0       neutral
1      positive
2      negative
3       neutral
4       neutral
5      negative
6       neutral
7      negative
8      negative
9      negative
10     negative
11     negative
12     negative
13      neutral
14      neutral
15     negative
16     negative
17     negative
18     negative
19     negative
20     positive
21     negative
22      neutral
23     positive
24      neutral
25     negative
26     negative
27     negative
28     positive
29     negative
...         ...
14610  positive
14611   neutral
14612  negative
14613  negative
14614  positive
14615   neutral
14616  negative
14617  positive
14618  negative
14619   neutral
14620  negative
14621  negative
14622  negative
14623  positive
14624  negative
14625  negative
14626  negative
14627  negative
14628  negative
14629   neutral
14630  negative
14631  negative
14632  positive
14633   neutral
14634  negative
14635  negative
14636  negative
14637   neutral
14638  negative
14639  negative

[14640 rows x 1 columns]

In [430]:
dr_x = pd.DataFrame(data3['module output'])
print(dr_x)
dr_y = pd.DataFrame(data3['label'])
print(dr_y)

                                         module output
0    2bad experiences in 1 week . First ride cab wa...
1    History consists for the most part of a comple...
2    Cotton candy was invented by a dentist. Dentis...
3    What a waste of money. The phone don't even de...
4    Loved these. 1. Very easy to use. 2. Good qual...
5    When  those  titanic  first  stars  exhausted ...
6    The quality of this Kajal is sooo amazing... I...
7    Absolutely terrible. The story is just terribl...
8    no network in village vargaon, falls in dist s...
9    So it all started when around 15th December 20...
10   Great. You would definitely buy this book. You...
11   The staff is really awesome. They were very he...
12   Worst service no one take responsibility about...
13   Spent 3 nights at this resort earlier this mon...
14   Overall i will recommend this phone to all who...
15   Love the product.. The delivery was super fast...
16   If you request for replacement of any product ...
17   The sound clarity of the incoming call is far ...
18   Was really hoping for the snapdragon processor...
19   I had called Tikona's customer care as I had s...
20   Great app to stay connected with family and fr...
21   Great experience. Very humble and helpful staf...
22   I have been solving Duolingo questions of the ...
23   Many air fryers use just a small amount of oil...
24   Setting expectations and making reasonable dem...
25   For me it is the best for people who are begin...
26   I had a disastrous experience with flipkart.. ...
27   My favorite part is that with all customized f...
28   While the men made bullets and the women lint,...
29   The great legacy of Aristarchus is this: neith...
..                                                 ...
469  Dont purchase this by seeing all the postitive...
470  I am really unhappy with this sony bluetooth s...
471  The product stopped working after a couple of ...
472  The website itself is great. I can't remember ...
473  Phone is very good, battery lasts for days wit...
474  At the Congress meeting in Haripura, Gujarat, ...
475  Teachers can also be a trusted source of advic...
476  This is one of the most overall balance phone ...
477  It may be a local file server with MS Word or ...
478  Fraud company, ordered Pigeon brand vegetable ...
479  Always do the assigned readings, even if there...
480  My experience of using this phone for one week...
481  Mask is good and neatly made also easy breatha...
482  The French are certainly misunderstood:  but ...
483  I used to be like you. I, a young man, once pl...
484  There is no option to give less than a star. F...
485  Received it on time within 24 hours thumps up ...
486  Really disappointed by the quality of OLED pan...
487  Camera is worst, Display screen is worst, batt...
488  These masks are very soft and very comfortable...
489  Please don't buy this mobile. It's just a mont...
490  The planets themselves moved on smaller circle...
491  very bad camera .. very disappointed , i need ...
492  EXTREMELY Disappointed with the first step its...
493  It was quiet at night which is great for  slee...
494  No word to explain, best game. This joins the ...
495  I had purchased two orders of the item Cuticol...
496  Actress and book club host Witherspoon pays tr...
497  Seriously guys not waste ur money on ths phone...
498  Anyone don't give bad review until he/she go t...

[499 rows x 1 columns]
        label
0    Negative
1     Neutral
2     Neutral
3    Negative
4    Positive
5     Neutral
6    Positive
7    Negative
8    Negative
9    Negative
10   Positive
11   Positive
12   Negative
13   Positive
14   Positive
15   Positive
16   Negative
17   Positive
18   Negative
19   Positive
20   Positive
21   Positive
22   Positive
23    Neutral
24    Neutral
25   Positive
26   Negative
27   Positive
28    Neutral
29    Neutral
..        ...
469  Negative
470  Negative
471  Negative
472  Positive
473  Positive
474   Neutral
475   Neutral
476  Positive
477   Neutral
478  Negative
479   Neutral
480  Negative
481  Positive
482   Neutral
483  Positive
484   Neutral
485  Positive
486  Negative
487  Negative
488  Positive
489  Negative
490   Neutral
491  Negative
492  Negative
493  Positive
494  Positive
495  Negative
496   Neutral
497  Negative
498  Negative

[499 rows x 1 columns]

In [433]:
x_feature = pd.concat([ar_x, br_x,dr_x],ignore_index=True)
print(x_feature.shape)
y_feature = pd.concat([ar_y, br_y,dr_y],ignore_index=True)
print(y_feature.shape)

(19154, 1)
(19154, 1)

In [434]:
def clean_text1(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    # text = "".join([word for word in text if word.isalpha()])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word.isalpha()]
    text = " ".join([lm.lemmatize(word) for word in text if word not in stop])
    return text

In [435]:
x_feature['body']=x_feature['module output'].apply(lambda x:clean_text1(x))
x_feature.head()

,module output,body
0,I would definitely recommend the wings as well...,would definitely recommend wing well pizza
1,Our brother is crazy,brother crazy
2,I dont think I will be back for a very long time,dont think back long time
3,My sister is very mad we fight a lot,sister mad fight lot
4,"Also, the fries are without a doubt the worst ...",also fry without doubt worst fry ive ever

In [436]:
tokenizer = Tokenizer(num_words=17000, split=" ")
tokenizer.fit_on_texts(x_feature['body'].values)

X = tokenizer.texts_to_sequences(x_feature['body'].values)
#print(X)
X = pad_sequences(X) # padding our text vector so they all have the same length
X[:5]

array([[   0,    0,    0, ..., 1714,   76,  651],
       [   0,    0,    0, ...,    0,  568,  665],
       [   0,    0,    0, ...,   27,  113,    8],
       [   0,    0,    0, ..., 1176, 1265,  189],
       [   0,    0,    0, ..., 1715,   59,   77]])

In [438]:
y_feature['label1']=y_feature['label'].apply(lambda x:clean_text1(x))

In [439]:
with open('tokenizer_final2.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [440]:
len(tokenizer.word_counts)

16424

In [441]:
model = Sequential()
model.add(Embedding(17000, 512, input_length=X.shape[1]))
model.add(Dropout(0.3))
model.add(LSTM(512, return_sequences=True, dropout=0.3, recurrent_dropout=0.2))
model.add(LSTM(512, dropout=0.3, recurrent_dropout=0.2))
model.add(Dense(3, activation='softmax'))

In [450]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 219, 256)          4352000
_________________________________________________________________
dropout_3 (Dropout)          (None, 219, 256)          0
_________________________________________________________________
lstm_6 (LSTM)                (None, 219, 256)          525312
_________________________________________________________________
lstm_7 (LSTM)                (None, 256)               525312
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 771
=================================================================
Total params: 5,403,395
Trainable params: 5,403,395
Non-trainable params: 0
_________________________________________________________________

In [444]:
y_feature['label1'].shape

(19154,)

In [445]:
y = pd.get_dummies(y_feature['label1']).values
[print(y_feature['label1'][i], y[i]) for i in range(0,5)]

positive [0 0 1]
negative [1 0 0]
negative [1 0 0]
negative [1 0 0]
negative [1 0 0]

[None, None, None, None, None]

In [446]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [448]:
X[:2]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,   22,  440,  464, 1714,   76,  651],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,  568,  665]])

In [451]:
model.output_shape

(None, 3)

In [ ]:
batch_size = 32
epochs = 15

model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=2)

Epoch 1/12